# .gitignore file for StevenWard94/.myvim -- local: ~/.vim/
# a description will precede each pattern listed here

# ignore all files & directories within the 'colors/' directory BUT NOT THE DIRECTORY ITSELF
colors/**

# ignore all files & directories within the 'bundle/' directory BUT NOT THE DIRECTORY ITSELF
bundle/**
