# .gitignore file for StevenWard94/.myvim -- local: ~/.vim/
# a description will precede each pattern listed here

# ignore all files & directories within the 'colors/' directory BUT NOT THE DIRECTORY ITSELF
colors/**

# ignore all files & directories within the 'bundle/' directory BUT NOT THE DIRECTORY ITSELF
bundle/**

# ignore the '.tmp/' directory and all of its contents - this directory is a temporary storage area to exclude
#   extensively incomplete files that vim could potentially attempt to apply, which would cause some issues...
.tmp/

# ignore all files in the 'spell/' directory EXCEPT those for general 'en' and 'en_US' locales
spell/*
!spell/README_en.txt
!spell/en*.sug
!spell/en*.spl
!spell/en_US.diff
